<html>
        <head>
                <link rel="stylesheet" href="style.css">
            </head>
<body>
    <form action="/manydata" method="POST">
        Task ID:
        <input type="number" name="userid" /> </br>
        Task Name:
        <input type="text" name="username" /> </br>
        Task Due:
        <input type="date" name="due" /> </br>
        People assigned:
        <input type="text" name="people" /> </br>
        Task Status:
        <label><input type="radio" name="status" value="In progress"> In progress</label>
        <label><input type="radio" name="status" value="Complete">Complete </label>
    </br>
        Task Desc:
        <input type="text" name="desc" /> </br>
        Count: 
        <input type="number" name="count" /> </br>
        <button>Submit</button>
    </form>
</body>
</html>