<html>
        <head>
                <link rel="stylesheet" href="style.css">
            </head>
<body>
    <form action="/updatedata" method="POST">
        Task ID:
        <input type="number" name="updatedid" /> </br>
        Task Status:
        <label><input type="radio" name="updatedstatus" value="In progress"> In progress</label>

        <label><input type="radio" name="updatedstatus" value="Complete">Complete </label>
    </br>
        <button>Submit</button>
    </form>
</body>
</html>